# Git
.git
.gitignore

# Secrets
.env
*.env

# Virtual envs
.venv/
venv/
env/

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Dev files
*.ipynb
*.csv
*.log
*.joblib
.DS_Store
Thumbs.db

# Folders not needed in Flask image
.github/
models/
scripts/
worker.py