# Web Framework & Security
flask
flask-talisman
gunicorn
pytz

# Database
pymongo
dnspython

# Data Science & ML (Essential for the model context)
pandas
numpy
joblib
xgboost
scikit-learn

# Weather API
fmiopendata